@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

/* Evita scroll horizontal */
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
