@import "tailwindcss";

@font-face {
    font-family: Lexend;
    src: url(../fonts/Lexend-VariableFont_wght.woff2) format('woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    --font-sans: 'Lexend', system-ui, sans-serif;
}